useDynLib(kit, .registration = TRUE)

export(
  charToFact, count, countNA, countOccur, fduplicated, fpos, funique, iif, nif, nswitch,
  pall, pallNA, pany, panyNA, pcount, pcountNA, pmean, pprod, psum, setlevels, topn, uniqLen, vswitch, psort,
  getData, shareData, clearData
)
